<section id="intro" class="wrapper style1 fullscreen fade-up">
  <div class="inner">
    <h1>{{tittle}}Taller en vivo</h1>
    <p>Presentación de la tarea</p>
    <p>Este es el trabajo para infraestructura de TI.</p>
    <!--<ul class="actions">
       <li><a href="/who" class="button scrolly">Learn more</a></li>
    </ul>-->
  </div>
</section>
